<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ryan Gill Resume</title>
        <style>
            .nav_button {
                background-color: #84f0ee;
                text-align: center;
                color: #00000F;
            }
        </style>
    </head>
    <body>
        <table width="100%" style="background-color: #f0f0f0;">
            <tr>
                <td colspan="4" align="center" style="background-color: #81e681;">Main Banner</td>
            </tr>
            <tr>
                <td class="nav_button"><a href="../views/index.html">Home</a></td>
                <td class="nav_button"><a href="../views/school.html">School</a></td>
                <td class="nav_button"><a href="../views/work.html">Work</a></td>
                <td class="nav_button"><a href="../views/contact.html">Contact</a></td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <br>
                    <h3>Welcome to Ryan Gill's resume website!</h3>
                    <br>
                    <p width="50%">
                        I am a Senior Computer Science Student at UTSA and this website is meant to display my resume information as well as show off some of my web development skills. Navigate around the site to find out more about me and see an overview of Web Technology knowledge.
                    </p>
                    <br>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    Senectus etiam luctus id, metus lectus conubia, sociosqu curabitur eleifend nullam turpis leo inceptos sit. Convallis habitant egestas, praesent sed, sit magna nunc eu curabitur torquent senectus. Facilisis eu pretium netus, consectetur nunc sagittis, magna blandit nec consequat eleifend viverra. Tempor eros a fringilla, aenean convallis interdum, inceptos sapien fames venenatis ornare varius faucibus auctor. Semper cras, viverra suscipit class inceptos. Ad rutrum interdum netus, nisi lorem nulla, consequat imperdiet rhoncus ut nisl condimentum vivamus donec. Phasellus tellus urna, nullam posuere vivamus senectus. Ultricies suspendisse gravida mollis, dictumst nibh vestibulum, orci cras inceptos habitant fermentum augue sed.
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="background-color: black; color: white;">Footer</td>
            </tr>
        </table>
    </body>
</html>
