
<html>
    
    <body>
        <table width="100%" style="background-color: #f0f0f0;">
            <tr>
                <td colspan="4" align="center" style="background-color: #81e681;">Main Banner</td>
            </tr>
            <tr style="background-color: #84f0ee;">
                <td align="center"><a href="../views/index.html"><span>Home</span></a></td>
                <td align="center"><a href="../views/school.html"><span>School</span></a></td>
                <td align="center"><a href="../views/work.html"><span>Work</span></a></td>
                <td align="center"><a href="../views/contact.html"><span>Contact</span></a></td>
            </tr>
            <tr>
                <td colspan="4">
                    <br>
                    <h2><b>Experience</b></h2>
                    <hr>
                    <h4><b><u>August 2021 - Present</u></b></h4>
                    <h3><b>Undergraduate TA/Grader - UTSA Department of Computer Science</b></h3>
                    <ul>
                        <li>Courses: Discrete Mathematics and Computer Organization</li>
                        <li>Review students' logic, mathematics and code critical to computer science</li>
                    </ul>
                    <br>
                    <h4><b><u>September 2011 - August 2021</u></b></h4>
                    <h3><b>Retail Management Career</b></h3>
                    <h4><b>Worked up to management positions at multiple companies within Pet-Specialty retail in order to pay for college and living expenses</b></h4>
                    <ul>
                        <li>Highest Position: General Manager of medium-sized corporate retail store (Petco)</li>
                        <li>Responsibilities: Serve as operator of all business functions of the store. Oversee and forecast sales, monitor inventory and 
                            budgets, review and respond to metrics and internal data, facilitate a positive customer service experience. Manage staff by 
                            hiring, maintaining and developing team members, including other store leadership and resolving any organizational or 
                            interpersonal conflicts.
                        </li>
                        <li>Achievements: Selected for public speaking roles at training conferences and as an actor for training videos</li>
                    </ul>
                    <br>
                    <h2><b>Technical Skills</b></h2>
                    <hr>
                    <ul>
                        <li>Languages: Expert in Python, C, Java and C#. Proficient in JavaScript, PHP, CSS, and Assembly</li>
                        <li>Frameworks/Services: Proficient with django, Vue, NPM, Unity, AWS</li>
                        <li>Operating Systems: Unix/Linux, Windows, MacOS, iOS, Android</li>
                        <li>Ability to rapidly learn new languages and frameworks, comfortable in any development environment</li>
                    </ul>
                    <br>
                    <h2><b>Additional Skills</b></h2>
                    <hr>
                    <ul>
                        <li>Strong Business Acumen - management principles, business strategy and market knowledge</li>
                        <li>Seasoned Leader - Over eight years of management experience, passionate work ethic, positive attitude and an 
                            approachable/developmental leadership style
                        </li>
                        <li>Great Communicator - strong interpersonal skills developed from over ten years of customer service and business communication</li>
                        <li>Fluent Writer - professional writing and code documentation</li>
                    </ul>
                    <br>
                </td>
                
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <br>
                    <h3>Progress of Notable Projects</h3>
                    <hr>
                    <table border="1" width="70%">
                        <thead>
                            <tr>
                                <th align="center">Date Completed</th>
                                <th align="center">Description</th>
                                <th align="center">Languages and Frameworks</th>
                                <th colspan="2" align="center">Links</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">February 2020</td>
                                <td align="center">Wedding Website</td>
                                <td align="center">Python, HTML/CSS, Django, Heroku</td>
                                <td colspan="2"><a href="http://ryanandlaura2020.com" target="_blank">ryanandlaura2020.com</a></td>
                            </tr>
                            <tr>
                                <td align="center">September 2020</td>
                                <td align="center">Recursive Large Text Reversal</td>
                                <td align="center">C</td>
                                <td colspan="2"><a href="https://github.com/ryanGill8120/large-text-reversal" target="_blank">github.com</a></td>
                            </tr>
                            <tr>
                                <td align="center">April 2021</td>
                                <td align="center">Calorie/Workout Tracker Desktop App</td>
                                <td align="center">Java, JavaFX</td>
                                <td colspan="2"><a href="https://github.com/ryanGill8120/energy-balance" target="_blank">github.com</a></td>
                            </tr>
                            <tr>
                                <td align="center">November 2021</td>
                                <td align="center">Hotel Booking Web App (Frontend)</td>
                                <td align="center">Javascript, HTML/CSS, PHP, Vue3</td>
                                <td colspan="2"><a href="http://www.turinghotels.com/" target="_blank">www.turinghotels.com</a></td>
                            </tr>
                            <tr>
                                <td align="center">February 2022</td>
                                <td align="center">Puzzle Creator API</td>
                                <td align="center">Python, Django Rest Framework, Heroku</td>
                                <td ><a href="https://github.com/ryanGill8120/PuzzleCreator_base" target="_blank">github.com</a></td>
                                <td ><a href="https://puzzle-creator-api.herokuapp.com/sudoku/5/" target="_blank">Sudoku GET sample</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="background-color: black; color: white;">Footer</td>
            </tr>
        </table>
    </body>
</html>
